.headingImg{
   
    max-height: 12px;
}
.headingImg2{
   
    max-height: 28px;
}
.boardHeading{
    display: flex;
    flex-direction: row;
    width: 16vw;
    /* width:-webkit-fill-available; */
    align-items: center;
    /* justify-content: space-between; */
    gap:12px;
    padding: 6px 12px;
    /* background-color: azure; */
    /* min-width: 90px; */
    

}
.Boards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items:center; */
    padding: 30px ;
    padding-top: 20px;
    padding-right: 30px;
    /* width: 100vw; */
    gap:6px;
    background-color: #F4F5F8;
}
.Board{
    width:fit-content;
}
.cText{
    color: #000000;
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: normal;
z-index: 2;

}
#pluske{
    justify-content: right;
    gap:0;
}
.Cards{
    display: flex;
    flex-direction: column;
    gap: 6px;
    /* padding-left: 12px;
    padding-right: 12px; */
}
.topBar{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items:center;
    /* margin-left:40px ; */
    /* padding: 40px ; */
   
    /* padding-right:4px; */
    border-radius: 4px;
    width: fit-content;
    background-color: #ffffff;
    /* gap:  100 px; */
    /* border: .20px solid #000; */
    padding:4px;
    filter: drop-shadow(0px 1px 3px rgba(138, 138, 138, 0.434));
}
.randombar{
    background-color: white;
    padding-left:40px;
    padding-top: 20px;
    padding-bottom: 20px;
    min-width: 100%;
    max-width: 100vw;
    min-width: 1200px;
}
.optionsImg{
    max-height: 18px;
    padding-left: 6px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.optionsImg2{
    max-height: 18px;
    padding-left: 4px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.button{
    border:0px solid blue;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0);
}
.availableUsernew{
    max-height: 12px;
    max-width: 12px;
 
    background-color: green;
    border-radius: 50%;
    
    
    border: 2px solid rgb(255, 255, 255);
}
.dot{
    width: 12px;
    height: 12px;
    /* height: 30px; */
    margin: 0;
    /* padding-right: 20px; */
}

@media screen and (max-width:600px) {
    .Boards{
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        /* align-items: center; */
        /* align-items:center; */
        padding: 30px ;
        padding-top: 20px;
        padding-right: 30px;
        /* width:400px; */
        gap:6px;
        background-color: #F4F5F8;
    }
    .boardHeading{
        /* justify-content: center; */
        
        background-color: azure;
        width: 350px;
    }
    .randombar{
        
        min-width: 300px;
        width: 100vw;
    }
    .Board{
        
        min-width:300px;
    }
    .cardBox{
        /* min-width: 400; */
        max-width: 400px;

    }
    
}